.bookimage {
    width: 200px;
    max-width: 100%;
    display: block;
    margin: 25px auto;
  }

.link {
  color: inherit;
  text-decoration: inherit; /* no underline */
}

.link:hover {
  color: rgb(54, 137, 231);
}